body{
    margin: 0;
    background-color: white;
    z-index: 2;
    width: 98vw;

    
}
.mainDiv{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0%;
    margin-top: 0%;
    margin-left: 0.50%;
    width: 100%;
}
/*ESTILO DEL NAV*/
nav{
    background-color: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-top: 0%;
}
.navTop{
    background-color: #10497E;
    width: 100%;
    height: 30%;
    padding: 4px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    align-items: stretch;
}
.navTop1{
    width: 50%;
}
.navTop1 p{
    font-size: larger;
    color: white;
}
.navTop2{
    width: 15%;

    margin-right: 3%;

    border-left: solid 1px #476CFF;
    border-right: solid 1px #476CFF;
    padding-left: 3px;
    padding-right: 3px;
}
.navTop2 p{
    font-size: medium;
    color: white;
}
.navTop3{
    width: 15%;
}
.navTop3 a{
    font-size: medium;
    color: white;
    text-decoration: none;
}
.navTop3 a:hover{
    color: #22BFAC;
}
.navMid{
    background-color: #10497E;
    width: 100%;
    height: 40%;
    padding: 7px;

    border-top: solid 1px #476CFF;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
}
.navMid1{
    width: 15%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
}
.navMid1 img{
    content: url("images/Logo isp.png");
}
.navMid2{
    width: 70%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
}
.navMid2 a{
    font-size: large;
    text-decoration: none;
    color: white;
}
.navMid2 a:hover{
    color: #22BFAC;
}
.navMid3{
    width: 15%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}
.navMid3 p{
    font-size: medium;
    color: white;
}
.navMid3 img{
    content: url("images/login.png");
}
.navBot{
    background-color: #476CFF;
    width: 100%;
    height: 30%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}
.navBot p{
    color: white;
}

/*SLIDER*/
.carousel-item{
    height: 32rem;
    background: #476CFF;
}


/*ESTILO DEL FOOTER*/
.container-foot{
    font-size: medium;
    padding: 1% 1% 0 1%;
    background: #476CFF;
}

.container-foot a{
    text-decoration: none;
}

.row .Name{
    font-size: large;
}

.container-foot ul{
    list-style: none;
    overflow: hidden;
}

.container-foot li{
    float: left;
    margin-right: 2vw;
}

.container-foot2{
    padding: 3% 0 1% 1%;
    background: #10497E;
}

.container-foot2 .logo{
    position: relative;
    margin-top: -2%;
}

.container-foot2 .logo:hover{
    transform: scale(1.1);
}

.container-foot2 a{
    text-decoration: none;
}
.container-foot2 ul{
    list-style: none;
    
}

.container-foot2 .links li{
    float: left;
    margin-right: 2vw;
}


.container-foot2 .brands li{
    float: left;
    margin-right: 2vw;
    display: flex;
    position: relative;
}

.container-foot2 .brands li:hover{
    color: #22BFAC;
}
/*ESTILOS DEL CONTENT*/
.content{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
/*ESTILOS DEL ABOUT*/
.aboutTitulo{
    width: 100%;
    height: 100px;

    background-color: aqua;
}
.aboutQuienes{
    width: 100%;
    height: 200px;

    background-color: blanchedalmond;
}
.aboutImagen{
    width: 100%;
    height: 200px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutImagen1{
    width: 50%;
    height: 100%;
    background-color: crimson;
}
.aboutImagen2{
    width: 50%;
    height: 100%;
    background-color: darkslateblue;
}
.aboutDonde{
    width: 100%;
    height: 200px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutDonde1{
    width: 100%;
    height: 50%;
    background-color: darkred;
}
.aboutDonde2{
    width: 100%;
    height: 50%;
    background-color: fuchsia;
}